/*
/*/
!/.gitignore
!/README.md
!/LICENSE
!/runDNS.m
!/parameters.m
!/calcInstability.m
!/meanflow.m
!/runBatch.m
!/runDNSautomean.m
!/source/
!/etc/
!/examples/
!/dockerfile
!/py/
/py/Re600-Ma05-L10-D5
/py/__pycache__
/py/source/__pycache__
*.asv
/py/meshes
/py/runs
/py/config